@charset "utf-8";
/* CSS Document */
h2{
	text-align: center;
	color: red;
}
h3{
	text-align: left;
	color:green;
}
div{
	color:black;
	text-indent: 35px;
	line-height: 35px
}
body{
	background-color:white;
}
